.responsive-img {
    width: 100%;
    max-width: 26%;
    height: auto;
  }
  
  @media (max-width: 600px) {
    .responsive-img {
      max-width: 23%;
    }
  }
  
  @media (min-width: 900px) {
    .responsive-img {
      max-width: 28%;
    }
  }
  